$icomoon-font-family: "Aiqon" !default;
$icomoon-font-path: "fonts" !default;

$aiqon-united-arab-emiratesaiqon-path1: "\e900";
$aiqon-united-arab-emiratesaiqon-path2: "\e901";
$aiqon-united-arab-emirates-1aiqon-path1: "\e902";
$aiqon-united-arab-emirates-1aiqon-path2: "\e903";
$aiqon-united-arab-emirates-1aiqon-path3: "\e904";
$aiqon-united-arab-emirates-1aiqon-path4: "\e905";
$aiqon-united-arab-emirates-1aiqon-path5: "\e906";
$aiqon-united-arab-emirates-2aiqon-path1: "\e907";
$aiqon-united-arab-emirates-2aiqon-path2: "\e908";
$aiqon-united-arab-emirates-2aiqon-path3: "\e909";
$aiqon-united-arab-emirates-2aiqon-path4: "\e90a";
$aiqon-united-arab-emirates-2aiqon-path5: "\e90b";
$aiqon-united-arab-emirates-2aiqon-path6: "\e90c";
$aiqon-united-arab-emirates-2aiqon-path7: "\e90d";
$aiqon-united-arab-emirates-2aiqon-path8: "\e90e";
$aiqon-united-arab-emirates-3aiqon-path1: "\e90f";
$aiqon-united-arab-emirates-3aiqon-path2: "\e910";
$aiqon-united-arab-emirates-3aiqon-path3: "\e911";
$aiqon-united-arab-emirates-3aiqon-path4: "\e912";
$aiqon-united-arab-emirates-3aiqon-path5: "\e913";
$aiqon-united-arab-emirates-3aiqon-path6: "\e914";
$aiqon-united-arab-emirates-3aiqon-path7: "\e915";
$aiqon-united-arab-emirates-3aiqon-path8: "\e916";
$aiqon-united-arab-emirates-3aiqon-path9: "\e917";
$aiqon-united-arab-emirates-3aiqon-path10: "\e918";
$aiqon-united-arab-emirates-3aiqon-path11: "\e919";
$aiqon-united-arab-emirates-3aiqon-path12: "\e91a";
$aiqon-united-arab-emirates-3aiqon-path13: "\e91b";
$aiqon-united-arab-emirates-3aiqon-path14: "\e91c";
$aiqon-united-arab-emirates-4aiqon-path1: "\e91d";
$aiqon-united-arab-emirates-4aiqon-path2: "\e91e";
$aiqon-united-arab-emirates-4aiqon-path3: "\e91f";
$aiqon-desertaiqon-path1: "\e920";
$aiqon-desertaiqon-path2: "\e921";
$aiqon-desertaiqon-path3: "\e922";
$aiqon-desertaiqon-path4: "\e923";
$aiqon-desertaiqon-path5: "\e924";
$aiqon-desertaiqon-path6: "\e925";
$aiqon-desertaiqon-path7: "\e926";
$aiqon-desertaiqon-path8: "\e927";
$aiqon-desertaiqon-path9: "\e928";
$aiqon-desertaiqon-path10: "\e929";
$aiqon-desertaiqon-path11: "\e92a";
$aiqon-desertaiqon-path12: "\e92b";
$aiqon-desertaiqon-path13: "\e92c";
$aiqon-desertaiqon-path14: "\e92d";
$aiqon-desertaiqon-path15: "\e92e";
$aiqon-desertaiqon-path16: "\e92f";
$aiqon-desertaiqon-path17: "\e930";
$aiqon-desertaiqon-path18: "\e931";
$aiqon-desertaiqon-path19: "\e932";
$aiqon-desertaiqon-path20: "\e933";
$aiqon-desertaiqon-path21: "\e934";
$aiqon-desertaiqon-path22: "\e935";
$aiqon-desertaiqon-path23: "\e936";
$aiqon-desertaiqon-path24: "\e937";
$aiqon-desertaiqon-path25: "\e938";
$aiqon-desertaiqon-path26: "\e939";
$aiqon-teapotaiqon-path1: "\e93a";
$aiqon-teapotaiqon-path2: "\e93b";
$aiqon-teapotaiqon-path3: "\e93c";
$aiqon-teapotaiqon-path4: "\e93d";
$aiqon-teapotaiqon-path5: "\e93e";
$aiqon-islamaiqon-path1: "\e93f";
$aiqon-islamaiqon-path2: "\e940";
$aiqon-islamaiqon-path3: "\e941";
$aiqon-islamaiqon-path4: "\e942";
$aiqon-islamaiqon-path5: "\e943";
$aiqon-islamaiqon-path6: "\e944";
$aiqon-islamaiqon-path7: "\e945";
$aiqon-islamaiqon-path8: "\e946";
$aiqon-islamaiqon-path9: "\e947";
$aiqon-united-arab-emirates-5aiqon-path1: "\e948";
$aiqon-united-arab-emirates-5aiqon-path2: "\e949";
$aiqon-united-arab-emirates-6aiqon-path1: "\e94a";
$aiqon-united-arab-emirates-6aiqon-path2: "\e94b";
$aiqon-knifeaiqon-path1: "\e94c";
$aiqon-knifeaiqon-path2: "\e94d";
$aiqon-knifeaiqon-path3: "\e94e";
$aiqon-knifeaiqon-path4: "\e94f";
$aiqon-knifeaiqon-path5: "\e950";
$aiqon-knifeaiqon-path6: "\e951";
$aiqon-knifeaiqon-path7: "\e952";
$aiqon-united-arab-emirates-7aiqon-path1: "\e953";
$aiqon-united-arab-emirates-7aiqon-path2: "\e954";
$aiqon-united-arab-emirates-7aiqon-path3: "\e955";
$aiqon-united-arab-emirates-7aiqon-path4: "\e956";
$aiqon-united-arab-emirates-7aiqon-path5: "\e957";
$aiqon-united-arab-emirates-7aiqon-path6: "\e958";
$aiqon-united-arab-emirates-7aiqon-path7: "\e959";
$aiqon-united-arab-emirates-7aiqon-path8: "\e95a";
$aiqon-united-arab-emirates-7aiqon-path9: "\e95b";
$aiqon-united-arab-emirates-7aiqon-path10: "\e95c";
$aiqon-united-arab-emirates-7aiqon-path11: "\e95d";
$aiqon-united-arab-emirates-7aiqon-path12: "\e95e";
$aiqon-united-arab-emirates-7aiqon-path13: "\e95f";
$aiqon-united-arab-emirates-7aiqon-path14: "\e960";
$aiqon-carpetaiqon-path1: "\e961";
$aiqon-carpetaiqon-path2: "\e962";
$aiqon-carpetaiqon-path3: "\e963";
$aiqon-carpetaiqon-path4: "\e964";
$aiqon-carpetaiqon-path5: "\e965";
$aiqon-carpetaiqon-path6: "\e966";
$aiqon-carpetaiqon-path7: "\e967";
$aiqon-perfumeaiqon-path1: "\e968";
$aiqon-perfumeaiqon-path2: "\e969";
$aiqon-perfumeaiqon-path3: "\e96a";
$aiqon-perfumeaiqon-path4: "\e96b";
$aiqon-perfumeaiqon-path5: "\e96c";
$aiqon-perfumeaiqon-path6: "\e96d";
$aiqon-perfumeaiqon-path7: "\e96e";
$aiqon-perfumeaiqon-path8: "\e96f";
$aiqon-perfumeaiqon-path9: "\e970";
$aiqon-perfumeaiqon-path10: "\e971";
$aiqon-perfumeaiqon-path11: "\e972";
$aiqon-oil-pumpaiqon-path1: "\e973";
$aiqon-oil-pumpaiqon-path2: "\e974";
$aiqon-oil-pumpaiqon-path3: "\e975";
$aiqon-oil-pumpaiqon-path4: "\e976";
$aiqon-oil-pumpaiqon-path5: "\e977";
$aiqon-oil-pumpaiqon-path6: "\e978";
$aiqon-oil-pumpaiqon-path7: "\e979";
$aiqon-oil-pumpaiqon-path8: "\e97a";
$aiqon-oil-pumpaiqon-path9: "\e97b";
$aiqon-monumentaiqon-path1: "\e97c";
$aiqon-monumentaiqon-path2: "\e97d";
$aiqon-monumentaiqon-path3: "\e97e";
$aiqon-monumentaiqon-path4: "\e97f";
$aiqon-monumentaiqon-path5: "\e980";
$aiqon-monumentaiqon-path6: "\e981";
$aiqon-monumentaiqon-path7: "\e982";
$aiqon-monumentaiqon-path8: "\e983";
$aiqon-monumentaiqon-path9: "\e984";
$aiqon-monumentaiqon-path10: "\e985";
$aiqon-monumentaiqon-path11: "\e986";
$aiqon-monumentaiqon-path12: "\e987";
$aiqon-monumentaiqon-path13: "\e988";
$aiqon-monumentaiqon-path14: "\e989";
$aiqon-quranaiqon-path1: "\e98a";
$aiqon-quranaiqon-path2: "\e98b";
$aiqon-quranaiqon-path3: "\e98c";
$aiqon-quranaiqon-path4: "\e98d";
$aiqon-quranaiqon-path5: "\e98e";
$aiqon-quranaiqon-path6: "\e98f";
$aiqon-quranaiqon-path7: "\e990";
$aiqon-quranaiqon-path8: "\e991";
$aiqon-quranaiqon-path9: "\e992";
$aiqon-quranaiqon-path10: "\e993";
$aiqon-diamondaiqon-path1: "\e994";
$aiqon-diamondaiqon-path2: "\e995";
$aiqon-diamondaiqon-path3: "\e996";
$aiqon-hookahaiqon-path1: "\e997";
$aiqon-hookahaiqon-path2: "\e998";
$aiqon-hookahaiqon-path3: "\e999";
$aiqon-hookahaiqon-path4: "\e99a";
$aiqon-hookahaiqon-path5: "\e99b";
$aiqon-hookahaiqon-path6: "\e99c";
$aiqon-hookahaiqon-path7: "\e99d";
$aiqon-camelaiqon-path1: "\e99e";
$aiqon-camelaiqon-path2: "\e99f";
$aiqon-camelaiqon-path3: "\e9a0";
$aiqon-camelaiqon-path4: "\e9a1";
$aiqon-camelaiqon-path5: "\e9a2";
$aiqon-arab-womanaiqon-path1: "\e9a3";
$aiqon-arab-womanaiqon-path2: "\e9a4";
$aiqon-arab-womanaiqon-path3: "\e9a5";
$aiqon-arab-womanaiqon-path4: "\e9a6";
$aiqon-arab-womanaiqon-path5: "\e9a7";
$aiqon-arab-womanaiqon-path6: "\e9a8";
$aiqon-arab-manaiqon-path1: "\e9a9";
$aiqon-arab-manaiqon-path2: "\e9aa";
$aiqon-arab-manaiqon-path3: "\e9ab";
$aiqon-arab-manaiqon-path4: "\e9ac";
$aiqon-arab-manaiqon-path5: "\e9ad";
$aiqon-arab-manaiqon-path6: "\e9ae";
$aiqon-arab-manaiqon-path7: "\e9af";
$aiqon-cityscapeaiqon-path1: "\e9b0";
$aiqon-cityscapeaiqon-path2: "\e9b1";
$aiqon-cityscapeaiqon-path3: "\e9b2";
$aiqon-cityscapeaiqon-path4: "\e9b3";
$aiqon-cityscapeaiqon-path5: "\e9b4";
$aiqon-cityscapeaiqon-path6: "\e9b5";
$aiqon-cityscapeaiqon-path7: "\e9b6";
$aiqon-cityscapeaiqon-path8: "\e9b7";
$aiqon-cityscapeaiqon-path9: "\e9b8";
$aiqon-cityscapeaiqon-path10: "\e9b9";
$aiqon-cityscapeaiqon-path11: "\e9ba";
$aiqon-cityscapeaiqon-path12: "\e9bb";
$aiqon-cityscapeaiqon-path13: "\e9bc";
$aiqon-cityscapeaiqon-path14: "\e9bd";
$aiqon-cityscapeaiqon-path15: "\e9be";
$aiqon-cityscapeaiqon-path16: "\e9bf";
$aiqon-cityscapeaiqon-path17: "\e9c0";
$aiqon-cityscapeaiqon-path18: "\e9c1";
$aiqon-cityscapeaiqon-path19: "\e9c2";
$aiqon-cityscapeaiqon-path20: "\e9c3";
$aiqon-cityscapeaiqon-path21: "\e9c4";
$aiqon-cityscapeaiqon-path22: "\e9c5";
$aiqon-necklaceaiqon-path1: "\e9c6";
$aiqon-necklaceaiqon-path2: "\e9c7";
$aiqon-necklaceaiqon-path3: "\e9c8";
$aiqon-necklaceaiqon-path4: "\e9c9";
$aiqon-palm-islandsaiqon-path1: "\e9ca";
$aiqon-palm-islandsaiqon-path2: "\e9cb";
$aiqon-palm-islandsaiqon-path3: "\e9cc";
$aiqon-palm-islandsaiqon-path4: "\e9cd";
$aiqon-palm-islandsaiqon-path5: "\e9ce";
$aiqon-palm-islandsaiqon-path6: "\e9cf";
$aiqon-palm-islandsaiqon-path7: "\e9d0";
$aiqon-palm-islandsaiqon-path8: "\e9d1";
$aiqon-palm-islandsaiqon-path9: "\e9d2";
$aiqon-palm-islandsaiqon-path10: "\e9d3";
$aiqon-palm-islandsaiqon-path11: "\e9d4";
$aiqon-palm-islandsaiqon-path12: "\e9d5";
$aiqon-palm-islandsaiqon-path13: "\e9d6";
$aiqon-palm-islandsaiqon-path14: "\e9d7";
$aiqon-palm-islandsaiqon-path15: "\e9d8";
$aiqon-castleaiqon-path1: "\e9d9";
$aiqon-castleaiqon-path2: "\e9da";
$aiqon-castleaiqon-path3: "\e9db";
$aiqon-castleaiqon-path4: "\e9dc";
$aiqon-castleaiqon-path5: "\e9dd";
$aiqon-castleaiqon-path6: "\e9de";
$aiqon-castleaiqon-path7: "\e9df";
$aiqon-castleaiqon-path8: "\e9e0";
$aiqon-castleaiqon-path9: "\e9e1";
$aiqon-castleaiqon-path10: "\e9e2";
$aiqon-castleaiqon-path11: "\e9e3";
$aiqon-castleaiqon-path12: "\e9e4";
$aiqon-castleaiqon-path13: "\e9e5";
$aiqon-castleaiqon-path14: "\e9e6";
$aiqon-castleaiqon-path15: "\e9e7";
$aiqon-castleaiqon-path16: "\e9e8";
$aiqon-castleaiqon-path17: "\e9e9";
$aiqon-castleaiqon-path18: "\e9ea";
$aiqon-castleaiqon-path19: "\e9eb";
$aiqon-castleaiqon-path20: "\e9ec";
$aiqon-castleaiqon-path21: "\e9ed";
$aiqon-castleaiqon-path22: "\e9ee";
$aiqon-castleaiqon-path23: "\e9ef";
$aiqon-castleaiqon-path24: "\e9f0";
$aiqon-castleaiqon-path25: "\e9f1";
$aiqon-burj-al-arabaiqon-path1: "\e9f2";
$aiqon-burj-al-arabaiqon-path2: "\e9f3";
$aiqon-burj-al-arabaiqon-path3: "\e9f4";
$aiqon-burj-al-arabaiqon-path4: "\e9f5";
$aiqon-burj-al-arabaiqon-path5: "\e9f6";
$aiqon-mosqueaiqon-path1: "\e9f7";
$aiqon-mosqueaiqon-path2: "\e9f8";
$aiqon-mosqueaiqon-path3: "\e9f9";
$aiqon-mosqueaiqon-path4: "\e9fa";
$aiqon-mosqueaiqon-path5: "\e9fb";
$aiqon-mosqueaiqon-path6: "\e9fc";
$aiqon-mosqueaiqon-path7: "\e9fd";
$aiqon-mosqueaiqon-path8: "\e9fe";
$aiqon-mosqueaiqon-path9: "\e9ff";
$aiqon-mosqueaiqon-path10: "\ea00";
$aiqon-mosqueaiqon-path11: "\ea01";
$aiqon-mosqueaiqon-path12: "\ea02";
$aiqon-mosqueaiqon-path13: "\ea03";
$aiqon-mosqueaiqon-path14: "\ea04";
$aiqon-mosqueaiqon-path15: "\ea05";
$aiqon-mosqueaiqon-path16: "\ea06";
$aiqon-mosqueaiqon-path17: "\ea07";
$aiqon-mosqueaiqon-path18: "\ea08";
$aiqon-buildingaiqon-path1: "\ea09";
$aiqon-buildingaiqon-path2: "\ea0a";
$aiqon-building-1aiqon-path1: "\ea0b";
$aiqon-building-1aiqon-path2: "\ea0c";
$aiqon-building-1aiqon-path3: "\ea0d";
$aiqon-building-1aiqon-path4: "\ea0e";
$aiqon-building-1aiqon-path5: "\ea0f";
$aiqon-building-1aiqon-path6: "\ea10";
$aiqon-woman-with-hijabaiqon: "\ea11";
$aiqon-tasbihaiqon: "\ea12";
$aiqon-scimitar-1aiqon: "\ea13";
$aiqon-scimitaraiqon: "\ea14";
$aiqon-pyramidsaiqon: "\ea15";
$aiqon-palm-trees-1aiqon: "\ea16";
$aiqon-palm-treesaiqon: "\ea17";
$aiqon-oil-lampaiqon: "\ea18";
$aiqon-muslim-woman-with-hijabaiqon: "\ea19";
$aiqon-muslim-woman-1aiqon: "\ea1a";
$aiqon-muslim-womanaiqon: "\ea1b";
$aiqon-muslim-praying-1aiqon: "\ea1c";
$aiqon-muslim-prayingaiqon: "\ea1d";
$aiqon-muslim-manaiqon: "\ea1e";
$aiqon-mosque-moon-and-staraiqon: "\ea1f";
$aiqon-mosque-and-moonaiqon: "\ea20";
$aiqon-mosque-8aiqon: "\ea21";
$aiqon-mosque-7aiqon: "\ea22";
$aiqon-mosque-6aiqon: "\ea23";
$aiqon-mosque-5aiqon: "\ea24";
$aiqon-mosque-4aiqon: "\ea25";
$aiqon-mosque-3aiqon: "\ea26";
$aiqon-mosque-2aiqon: "\ea27";
$aiqon-mosque-1aiqon: "\ea28";
$aiqon-mosque1aiqon: "\ea29";
$aiqon-minaretaiqon: "\ea2a";
$aiqon-lanternaiqon: "\ea2b";
$aiqon-koranaiqon: "\ea2c";
$aiqon-kaabaaiqon: "\ea2d";
$aiqon-islamic-prayer-1aiqon: "\ea2e";
$aiqon-islamic-prayeraiqon: "\ea2f";
$aiqon-islamic-moonaiqon: "\ea30";
$aiqon-islamic-art-4aiqon: "\ea31";
$aiqon-islamic-art-3aiqon: "\ea32";
$aiqon-islamic-art-2aiqon: "\ea33";
$aiqon-islamic-art-1aiqon: "\ea34";
$aiqon-islamic-artaiqon: "\ea35";
$aiqon-hookah1aiqon: "\ea36";
$aiqon-half-moon-and-staraiqon: "\ea37";
$aiqon-dromedaryaiqon: "\ea38";
$aiqon-cloud-and-moonaiqon: "\ea39";
$aiqon-burj-al-arab1aiqon: "\ea3a";
$aiqon-belly-danceaiqon: "\ea3b";
$aiqon-baggy-trousersaiqon: "\ea3c";
$aiqon-arab-woman-with-hijabaiqon: "\ea3d";
$aiqon-arab-woman-1aiqon: "\ea3e";
$aiqon-arab-woman1aiqon: "\ea3f";
$aiqon-arab-man-2aiqon: "\ea40";
$aiqon-arab-man-1aiqon: "\ea41";
$aiqon-arab-man1aiqon: "\ea42";
$aiqon-arabic-lanternaiqon: "\ea43";
$aiqon-arabic-jaraiqon: "\ea44";
$aiqon-arabian-womanaiqon: "\ea45";
$aiqon-arab-horseaiqon: "\ea46";
$aiqon-araba-womanaiqon: "\ea47";

